--
-- PostgreSQL database dump
--

\restrict 3XpFIcjcFkf44CSA67ayffs0ilUevA7v36EY1MVg6vCedgRNqMaohIFiRJaN5O9

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allergens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.allergens (
    allergen_id integer NOT NULL,
    allergen_name character varying(100) NOT NULL
);


ALTER TABLE public.allergens OWNER TO admin;

--
-- Name: food; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.food (
    food_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.food OWNER TO admin;

--
-- Name: food_food_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.food_food_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.food_food_id_seq OWNER TO admin;

--
-- Name: food_food_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.food_food_id_seq OWNED BY public.food.food_id;


--
-- Name: food_ingredients; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.food_ingredients (
    ingredient_id integer NOT NULL,
    food_id integer NOT NULL,
    unit character varying(100) NOT NULL,
    portion_amount integer NOT NULL
);


ALTER TABLE public.food_ingredients OWNER TO admin;

--
-- Name: ingredient_allergens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ingredient_allergens (
    ingredient_id integer NOT NULL,
    allergen_id integer NOT NULL
);


ALTER TABLE public.ingredient_allergens OWNER TO admin;

--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ingredients (
    ingredient_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.ingredients OWNER TO admin;

--
-- Name: ingredients_ingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ingredients_ingredient_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ingredients_ingredient_id_seq OWNER TO admin;

--
-- Name: ingredients_ingredient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ingredients_ingredient_id_seq OWNED BY public.ingredients.ingredient_id;


--
-- Name: today_menu; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.today_menu (
    food_id integer NOT NULL,
    cost integer NOT NULL,
    portions_available integer
);


ALTER TABLE public.today_menu OWNER TO admin;

--
-- Name: food food_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.food ALTER COLUMN food_id SET DEFAULT nextval('public.food_food_id_seq'::regclass);


--
-- Name: ingredients ingredient_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ingredients ALTER COLUMN ingredient_id SET DEFAULT nextval('public.ingredients_ingredient_id_seq'::regclass);


--
-- Data for Name: allergens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.allergens (allergen_id, allergen_name) FROM stdin;
1	Obiloviny obsahuj├şc├ş lepek
2	Kor├Ż┼íi
3	Vejce
4	Ryby
5	Ara┼í├şdy
6	S├│jov├ę boby
7	Ml├ęko
8	Sko┼Ö├ípkov├ę plody
9	Celer
10	Ho┼Ö─Źice
11	Sezamov├í semena
12	Oxid si┼Öi─Źit├Ż a si┼Öi─Źitany
13	Vl─Ź├ş bob (lupina)
14	M─Ťkk├Ż┼íi
\.


--
-- Data for Name: food; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.food (food_id, name) FROM stdin;
1	Ku┼Öec├ş paprika┼í s r├Ż┼ż├ş
2	Sv├ş─Źkov├í na smetan─Ť
3	Brambor├ík
4	Rajsk├í om├í─Źka s knedl├şkem
5	─îo─Źka na kyselo s vejcem
6	Pala─Źinky s marmel├ídou
7	Gul├í┼í s houskov├Żm knedl├şkem
8	┼ápen├ít s vejcem a bramborem
9	Pe─Źen├ę ku┼Öe s bramborami
10	T─Ťstoviny carbonara
\.


--
-- Data for Name: food_ingredients; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ingredient_allergens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.ingredient_allergens (ingredient_id, allergen_id) FROM stdin;
8	1
12	1
18	1
10	2
6	2
20	2
18	2
9	3
17	4
\.


--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.ingredients (ingredient_id, name) FROM stdin;
1	Ku┼Öec├ş maso
2	Paprika
3	Cibule
4	R├Ż┼że
5	Hov─Ťz├ş maso
6	Smetana
7	Brambory
8	Mouka
9	Vejce
10	Ml├ęko
11	Rajsk├Ż protlak
12	Houskov├Ż knedl├şk
13	─îo─Źka
14	Ocet
15	Cukr
16	Marmel├ída
17	Slanina
18	S├Żr
19	┼ápen├ít
20	M├íslo
21	S┼»l
22	Pep┼Ö
23	Km├şn
24	Major├ínka
25	Nov├ę ko┼Öen├ş
26	Bobkov├Ż list
27	T─Ťstoviny
\.


--
-- Data for Name: today_menu; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.today_menu (food_id, cost, portions_available) FROM stdin;
2	10	50
\.


--
-- Name: food_food_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.food_food_id_seq', 10, true);


--
-- Name: ingredients_ingredient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ingredients_ingredient_id_seq', 27, true);


--
-- Name: allergens allergens_allergen_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT allergens_allergen_name_key UNIQUE (allergen_name);


--
-- Name: allergens allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT allergens_pkey PRIMARY KEY (allergen_id);


--
-- Name: food_ingredients food_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_pkey PRIMARY KEY (ingredient_id, food_id);


--
-- Name: food food_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.food
    ADD CONSTRAINT food_pkey PRIMARY KEY (food_id);


--
-- Name: ingredient_allergens ingredient_allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ingredient_allergens
    ADD CONSTRAINT ingredient_allergens_pkey PRIMARY KEY (ingredient_id, allergen_id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (ingredient_id);


--
-- Name: today_menu today_menu_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.today_menu
    ADD CONSTRAINT today_menu_pkey PRIMARY KEY (food_id);


--
-- Name: food_ingredients food_ingredients_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_food_id_fkey FOREIGN KEY (food_id) REFERENCES public.food(food_id) ON DELETE CASCADE;


--
-- Name: food_ingredients food_ingredients_ingredient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_ingredient_id_fkey FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(ingredient_id) ON DELETE CASCADE;


--
-- Name: ingredient_allergens ingredient_allergens_allergen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ingredient_allergens
    ADD CONSTRAINT ingredient_allergens_allergen_id_fkey FOREIGN KEY (allergen_id) REFERENCES public.allergens(allergen_id) ON DELETE CASCADE;


--
-- Name: ingredient_allergens ingredient_allergens_ingredient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ingredient_allergens
    ADD CONSTRAINT ingredient_allergens_ingredient_id_fkey FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(ingredient_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3XpFIcjcFkf44CSA67ayffs0ilUevA7v36EY1MVg6vCedgRNqMaohIFiRJaN5O9

