--
-- PostgreSQL database dump
--

\restrict x2pnvmOWiaayj7IrEe58eMvtHFAAQBaBVeOwtWbqYR7YSAQo9li6SuZK49OToQG

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allergens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.allergens (
    allergen_id integer NOT NULL,
    allergen_name character varying(100) NOT NULL
);


ALTER TABLE public.allergens OWNER TO admin;

--
-- Name: cell_type; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cell_type (
    type_id integer NOT NULL,
    type_name character varying(50) NOT NULL,
    security_level integer DEFAULT 0
);


ALTER TABLE public.cell_type OWNER TO admin;

--
-- Name: cell_type_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cell_type_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cell_type_type_id_seq OWNER TO admin;

--
-- Name: cell_type_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cell_type_type_id_seq OWNED BY public.cell_type.type_id;


--
-- Name: cells; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cells (
    cell_id integer NOT NULL,
    cell_number integer NOT NULL,
    type_id integer NOT NULL,
    capacity integer NOT NULL,
    block character varying(20) NOT NULL
);


ALTER TABLE public.cells OWNER TO admin;

--
-- Name: cells_cell_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cells_cell_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cells_cell_id_seq OWNER TO admin;

--
-- Name: cells_cell_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cells_cell_id_seq OWNED BY public.cells.cell_id;


--
-- Name: prisoners; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.prisoners (
    prisoner_id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    credits integer DEFAULT 0,
    cell_id integer,
    entry_date date NOT NULL,
    release_date date,
    danger_level integer DEFAULT 0,
    religion character varying(100)
);


ALTER TABLE public.prisoners OWNER TO admin;

--
-- Name: prisoners_allergens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.prisoners_allergens (
    prisoner_id integer NOT NULL,
    allergen_id integer NOT NULL,
    severity character varying(20) DEFAULT 'Low'::character varying,
    CONSTRAINT prisoners_allergens_severity_check CHECK (((severity)::text = ANY ((ARRAY['Low'::character varying, 'Medium'::character varying, 'High'::character varying])::text[])))
);


ALTER TABLE public.prisoners_allergens OWNER TO admin;

--
-- Name: prisoners_prisoner_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.prisoners_prisoner_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prisoners_prisoner_id_seq OWNER TO admin;

--
-- Name: prisoners_prisoner_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.prisoners_prisoner_id_seq OWNED BY public.prisoners.prisoner_id;


--
-- Name: cell_type type_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cell_type ALTER COLUMN type_id SET DEFAULT nextval('public.cell_type_type_id_seq'::regclass);


--
-- Name: cells cell_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cells ALTER COLUMN cell_id SET DEFAULT nextval('public.cells_cell_id_seq'::regclass);


--
-- Name: prisoners prisoner_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners ALTER COLUMN prisoner_id SET DEFAULT nextval('public.prisoners_prisoner_id_seq'::regclass);


--
-- Data for Name: allergens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.allergens (allergen_id, allergen_name) FROM stdin;
1	Obiloviny obsahuj├şc├ş lepek
2	Kor├Ż┼íi
3	Vejce
4	Ryby
5	Ara┼í├şdy
6	S├│jov├ę boby
7	Ml├ęko
8	Sko┼Ö├ípkov├ę plody
9	Celer
10	Ho┼Ö─Źice
11	Sezamov├í semena
12	Oxid si┼Öi─Źit├Ż a si┼Öi─Źitany
13	Vl─Ź├ş bob (lupina)
14	M─Ťkk├Ż┼íi
\.


--
-- Data for Name: cell_type; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cell_type (type_id, type_name, security_level) FROM stdin;
1	Obecn├í populace	0
2	Obecn├í populace	1
3	Obecn├í populace	2
4	Samotka	3
5	Ochrann├í vazba	1
6	Vysok├í ostraha	3
\.


--
-- Data for Name: cells; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cells (cell_id, cell_number, type_id, capacity, block) FROM stdin;
1	101	1	4	A
2	102	1	4	A
3	103	1	6	A
4	104	1	6	A
5	201	2	4	B
6	202	2	4	B
7	203	2	4	B
8	204	2	6	B
9	301	3	2	C
10	302	3	2	C
11	303	3	2	C
12	304	3	4	C
13	401	4	1	D
14	402	4	1	D
15	403	4	1	D
16	404	4	1	D
17	501	5	2	E
18	502	5	2	E
19	503	5	2	E
20	405	6	1	D
21	406	6	1	D
22	407	6	2	D
\.


--
-- Data for Name: prisoners; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: prisoners_allergens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.prisoners_allergens (prisoner_id, allergen_id, severity) FROM stdin;
1	1	High
1	4	Medium
1	6	Low
2	3	Medium
3	1	High
3	2	High
4	5	Medium
4	6	Medium
7	1	High
8	2	Medium
8	4	Low
10	5	High
11	1	High
11	2	High
11	6	High
13	3	Low
14	4	Medium
14	5	Low
15	2	Medium
16	6	High
18	1	Medium
18	3	Low
19	4	High
\.


--
-- Name: cell_type_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cell_type_type_id_seq', 6, true);


--
-- Name: cells_cell_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cells_cell_id_seq', 22, true);


--
-- Name: prisoners_prisoner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.prisoners_prisoner_id_seq', 20, true);


--
-- Name: allergens allergens_allergen_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT allergens_allergen_name_key UNIQUE (allergen_name);


--
-- Name: allergens allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT allergens_pkey PRIMARY KEY (allergen_id);


--
-- Name: cell_type cell_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cell_type
    ADD CONSTRAINT cell_type_pkey PRIMARY KEY (type_id);


--
-- Name: cells cells_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cells
    ADD CONSTRAINT cells_pkey PRIMARY KEY (cell_id);


--
-- Name: prisoners_allergens prisoners_allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners_allergens
    ADD CONSTRAINT prisoners_allergens_pkey PRIMARY KEY (prisoner_id, allergen_id);


--
-- Name: prisoners prisoners_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners
    ADD CONSTRAINT prisoners_pkey PRIMARY KEY (prisoner_id);


--
-- Name: cells cells_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cells
    ADD CONSTRAINT cells_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.cell_type(type_id);


--
-- Name: prisoners_allergens prisoners_allergens_allergen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners_allergens
    ADD CONSTRAINT prisoners_allergens_allergen_id_fkey FOREIGN KEY (allergen_id) REFERENCES public.allergens(allergen_id) ON DELETE CASCADE;


--
-- Name: prisoners_allergens prisoners_allergens_prisoner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners_allergens
    ADD CONSTRAINT prisoners_allergens_prisoner_id_fkey FOREIGN KEY (prisoner_id) REFERENCES public.prisoners(prisoner_id) ON DELETE CASCADE;


--
-- Name: prisoners prisoners_cell_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.prisoners
    ADD CONSTRAINT prisoners_cell_id_fkey FOREIGN KEY (cell_id) REFERENCES public.cells(cell_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict x2pnvmOWiaayj7IrEe58eMvtHFAAQBaBVeOwtWbqYR7YSAQo9li6SuZK49OToQG

