<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Storage</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-text color="danger" *ngIf="storageError">
        {{ storageError }}
      </ion-text>

      <div *ngIf="loadingStorage" class="ion-text-center ion-padding">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <ion-list *ngIf="!loadingStorage && !storageError">

        <ion-item>
          <ion-label>Food menu 1</ion-label>
          <ion-note slot="end">
            {{ mealsARemaining }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Food menu 2</ion-label>
          <ion-note slot="end">
            {{ mealsBRemaining }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Food menu 3</ion-label>
          <ion-note slot="end">
            {{ mealsCRemaining }}
          </ion-note>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>