.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  

  ion-item h2 {
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  ion-item p {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
    margin: 0;
  }
  