<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <ion-button
        expand="block"
        class="ion-margin-top"
        color="primary"
        (click)="startAddItem()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Add new item
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Food inventory</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <ion-row class="table-header">
          <ion-col size="2"><strong>ID</strong></ion-col>
          <ion-col size="4"><strong>Name</strong></ion-col>
          <ion-col size="2"><strong>Storage minimum</strong></ion-col>
          <ion-col size="2"><strong>Unit</strong></ion-col>
          <ion-col size="2"><strong>Edit</strong></ion-col>
        </ion-row>

        <ion-row *ngIf="loading">
          <ion-col>
            <ion-spinner name="crescent"></ion-spinner> Loading items...
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!loading && error">
          <ion-col color="danger">
            {{ error }}
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of items">
          <ion-col size="2">{{ item.item_id }}</ion-col>
          <ion-col size="4">{{ item.name }}</ion-col>
          <ion-col size="2">{{ item.storage_minimum }}</ion-col>
          <ion-col size="2">{{ item.unit }}</ion-col>
          <ion-col size="2">
            <ion-button
              fill="clear"
              size="small"
              color="medium"
              (click)="startEditItem(item)">
              Edit
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isAddMode || isEditMode" class="ion-margin-top">
          <ion-col size="12">
            <form (ngSubmit)="onSubmitItem()">

              <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input
                  [(ngModel)]="formItem.name"
                  name="name"
                  required>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Storage minimum</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="formItem.storage_minimum"
                  name="storage_minimum"
                  required>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Unit</ion-label>
                <ion-input
                  [(ngModel)]="formItem.unit"
                  name="unit"
                  required>
                </ion-input>
              </ion-item>

              <div class="ion-padding-top" *ngIf="formError">
                <ion-label color="danger">{{ formError }}</ion-label>
              </div>

              <ion-button
                expand="block"
                class="ion-margin-top"
                type="submit"
                [disabled]="saving">
                {{ isAddMode ? 'Create item' : 'Save changes' }}
              </ion-button>

              <ion-button
                expand="block"
                fill="clear"
                color="medium"
                type="button"
                (click)="cancelForm()"
                [disabled]="saving">
                Cancel
              </ion-button>

            </form>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
