<ion-header>
  <ion-toolbar>
    <ion-title>Dispensing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Meal Dispensing</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Enter consumer number</ion-label>
        <ion-input
          type="number"
          placeholder="e.g. 12345"
          [(ngModel)]="consumerNumber">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="checkConsumer()">
        Check
      </ion-button>

      <ion-text
        color="success"
        *ngIf="status === 'issued'"
        class="ion-margin-top ion-padding-top">

        <h1 class="ion-text-center" style="font-size: 3.2rem; font-weight: 700;">
          ISSUED ✅
        </h1>

      </ion-text>

      <ion-text
        color="danger"
        *ngIf="status === 'denied'"
        class="ion-margin-top ion-padding-top">

        <h1 class="ion-text-center" style="font-size: 3.2rem; font-weight: 700;">
          NOT ISSUED ❌
        </h1>

        <p
          class="ion-text-center ion-margin-top"
          style="font-size: 1.4rem;">
          {{ reason }}
        </p>

      </ion-text>

    </ion-card-content>
  </ion-card>
</ion-content>
