
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.class.css";

:root {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;

  --ion-border-color: transparent;

  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-color: #7aa7ff;
  --ion-tab-bar-color-selected: #3880ff;
}

html.ion-palette-dark,
body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-card-background: #1e1e1e;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #1a1a1a;
  --ion-toolbar-color: #ffffff;

  --ion-tab-bar-background: #1a1a1a;
  --ion-tab-bar-color: #7aa7ff;  
  --ion-tab-bar-color-selected: #3880ff;
}


ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-item::part(native) {
  border-bottom: none !important;
}

ion-item::after {
  display: none !important;
}

ion-list {
  --ion-item-border-color: transparent;
}

ion-tab-bar::part(border) {
  display: none;
}

ion-tab-bar {
  background: var(--ion-tab-bar-background) !important;
  border: none !important;
}

ion-tab-button {
  --color: var(--ion-tab-bar-color);
  opacity: 0.75;
}

ion-tab-button.tab-selected {
  --color: var(--ion-tab-bar-color-selected);
  opacity: 1;
}

ion-card {
  background: var(--ion-card-background);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: none;
}

ion-icon {
  color: currentColor;
}
